@charset "UTF-8";
/*  Identité graphique création variables   */
/*  Polices */
/*  Logo et titres  */
/*  Couleurs de la Charte    */
/*  Autres couleurs */
/*  Ombres  */
/*  Animations  */
/*  Responsive Breakpoint  */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.7rem;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 10% 0 10%;
  padding: 5%;
  border: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.restaurant__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 16rem;
  margin: 0.5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 3px 5px 15px 3px rgba(128, 128, 128, 0.3);
          box-shadow: 3px 5px 15px 3px rgba(128, 128, 128, 0.3);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border: none;
}

.restaurant__carte:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.restaurant__carte__photo__mention__nouveaute {
  position: absolute;
  margin-top: 1rem;
  right: 2rem;
  background-color: #99E2D0;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  color: #278870;
}

.restaurant__carte__image {
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__info h3, .restaurant__info p {
  margin: 0.5rem 0 0rem 0;
}

figcaption {
  background-color: #fff;
  color: black;
  padding: 0 1rem;
  text-align: left;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
}

.logo__header__logo {
  background-color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/*  Presentation du site    */
.ville__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  background-color: #dedede;
  -webkit-box-shadow: inset 0em 0.5em rgba(0, 0, 0, 0.05);
          box-shadow: inset 0em 0.5em rgba(0, 0, 0, 0.05);
  color: grey;
}

.icone__localisation {
  margin-right: 1rem;
}

.slider {
  background-color: #F2F2F2;
  padding: 2rem;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.slider__slogan {
  margin-bottom: 2rem;
}

.slider__bouton {
  margin-bottom: 1rem;
}

/*  Partie Fonctionnement    */
.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.fonctionnement__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonctionnement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.fonctionnement__numero {
  position: absolute;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  padding: 0.4rem 0.1rem 0.1rem 0.1rem;
  text-align: center;
  color: white;
  left: 0.7rem;
  margin: 1.6rem 0;
  z-index: 1;
}

.fonctionnement__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2.5rem;
  margin: 0.1rem 0.5rem;
  width: 100%;
  height: 5rem;
  border-radius: 30px;
  font-size: 1.1rem;
  color: black;
  background: #F2F2F2;
}

.fonctionnement__icone {
  margin: 0 10em;
}

/*    Partie Restaurant   */
.restaurant {
  background-color: #F2F2F2;
  margin: 3rem 0;
  padding-top: 3rem;
}

.restaurant h2 {
  padding: 0 1.5rem;
  margin: 0;
}

.restaurant__section {
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */