@charset "UTF-8";
/*  Identité graphique création variables   */
/*  Polices */
/*  Logo et titres  */
/*  Couleurs de la Charte    */
/*  Autres couleurs */
/*  Ombres  */
/*  Animations  */
/*  Responsive Breakpoint  */
body {
  display: block;
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 2048px;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.7rem;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 10% 0 10%;
  padding: 5%;
  border: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.slider__pages {
  margin: 0;
}

.slider__pages__restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 16rem;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.slider__pages__restaurants img {
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media (min-width: 540px) {
  .slider__pages__restaurants {
    height: 25rem;
  }
}

@media (min-width: 768px) {
  .slider__pages__restaurants {
    height: 33rem;
  }
}

@media (min-width: 950px) {
  .slider__pages__restaurants {
    height: 43rem;
  }
}

@media (min-width: 1248px) {
  .slider__pages__restaurants {
    height: 50rem;
  }
}

@media (min-width: 1400px) {
  .slider__pages__restaurants {
    height: 75rem;
  }
}

.restaurant__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 16rem;
  margin: 0.5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 3px 5px 15px 3px rgba(128, 128, 128, 0.3);
          box-shadow: 3px 5px 15px 3px rgba(128, 128, 128, 0.3);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border: none;
}

.restaurant__carte:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.restaurant__carte__photo__mention__nouveaute {
  position: absolute;
  margin-top: 1rem;
  right: 2rem;
  background-color: #99E2D0;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  color: #278870;
}

.restaurant__carte__image {
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__carte__quatrieme__carte__accueil {
  margin-bottom: 3rem;
}

.restaurant__info h3, .restaurant__info p {
  margin: 0.5rem 0 0rem 0;
}

figcaption {
  background-color: #fff;
  color: black;
  padding: 0 1rem;
  text-align: left;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem 0.5rem 1rem;
}

.header__arrow__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  color: black;
}

.logo__header__logo {
  background-color: white;
}

.logo__header {
  width: 100%;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/*  Presentation du site    */
.ville__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  background-color: #dedede;
  -webkit-box-shadow: inset 0em 0.5em rgba(0, 0, 0, 0.05);
          box-shadow: inset 0em 0.5em rgba(0, 0, 0, 0.05);
  color: grey;
}

.icone__localisation {
  margin-right: 1rem;
}

.slider {
  background-color: #F2F2F2;
  padding: 2rem;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.slider__slogan {
  margin-bottom: 2rem;
}

.slider__bouton {
  margin-bottom: 1rem;
}

/*  Partie Fonctionnement    */
.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.fonctionnement__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonctionnement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.fonctionnement__numero {
  position: absolute;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  padding: 0.4rem 0.1rem 0.1rem 0.1rem;
  text-align: center;
  color: white;
  left: 0.7rem;
  margin: 1.6rem 0;
  z-index: 1;
}

.fonctionnement__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  color: black;
  background: #F2F2F2;
  height: 5rem;
  font-size: 1.1rem;
  padding: 0 2.5rem;
  margin: 0.1rem 0.5rem;
  border-radius: 30px;
}

.fonctionnement__icone {
  margin: 0 10em;
}

/*    Partie Restaurant   */
.restaurant {
  background-color: #F2F2F2;
  padding-top: 3rem;
}

.restaurant h2 {
  padding: 0 1.5rem;
  margin: 0;
}

.restaurant__section {
  padding: 1rem;
}

/*  Partie menu des pages de Restaurant */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -3rem;
  background-color: #ededed;
  border-radius: 25px 25px 0 0;
  padding: 1rem;
}

.menu h2 {
  font-family: "Shrikhand", cursive;
}

.menu__partie__restaurant h3 {
  color: #8c8c8c;
  border-bottom: 2px solid #99E2D0;
  border-width: 4px;
  width: 12%;
}

.menu__btn {
  width: 100%;
  color: black;
  background: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem;
  margin: 0.4rem 0;
  width: auto;
  height: 4rem;
  border-radius: 25px;
}

.menu__lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 4%;
}

.menu__description {
  width: 90%;
  margin: 0;
  color: black;
}

.menu__description h4 {
  margin-top: 0.1rem;
  margin-bottom: 0;
  font-size: 1.15rem;
}

.menu__description p {
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  font-size: 0.9rem;
}

.menu__prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.menu__prix h5 {
  margin-bottom: 0;
  color: black;
}

.menu__selection {
  background-color: #99E2D0;
  color: white;
}

.menu__commande {
  margin: 4rem 3rem;
}

@media (min-width: 540px) {
  /*  Presentation du site    */
  .slider__bouton {
    padding: 1rem;
    margin: 2% 25%;
    width: 50%;
  }
  /*  Partie Fonctionnement    */
  .fonctionnement {
    padding: 2rem 4rem;
  }
  /*    Partie Restaurant   */
  .restaurant {
    padding: 1rem 2.5rem;
  }
  .restaurant__carte__photo__mention__nouveaute {
    margin: 1rem 3rem;
  }
  /*  Partie Menu    */
  .menu {
    padding: 2rem;
    font-size: 1.2rem;
  }
  .menu__partie__restaurant h3 {
    width: 30px;
  }
  .menu__commande {
    margin: 5rem 2.5rem;
  }
}

@media (min-width: 768px) {
  /*  Partie Fonctionnement    */
  .fonctionnement {
    padding: 3rem 4rem;
  }
  /*    Partie Restaurant   */
  .restaurant {
    padding: 3rem 1rem;
  }
  .restaurant__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant__section a {
    width: 40%;
  }
  /*  Partie Menu    */
  .menu {
    padding: 2rem 3rem;
    font-size: 1.2rem;
  }
  .menu__btn {
    height: 5rem;
    margin: 0.6rem 0;
  }
  .menu__description h4 {
    font-size: 1.45rem;
  }
  .menu__description p {
    font-size: 1.25rem;
  }
  .menu__prix h5 {
    font-size: 1.3rem;
  }
  .menu__commande {
    padding: 0.3rem;
    height: 4rem;
    width: 50%;
    margin: 10% 25%;
  }
}

@media (min-width: 950px) {
  /*  Presentation du site    */
  .slider__slogan {
    margin: 2rem;
    font-size: 1.2rem;
  }
  .slider__bouton {
    padding: 1rem;
    margin: 2% 35%;
    width: 30%;
  }
  /*  Partie Fonctionnement    */
  .fonctionnement {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fonctionnement__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fonctionnement__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .fonctionnement__numero {
    left: auto;
  }
  .fonctionnement__icone {
    margin: 1rem;
  }
  /*    Partie Restaurant   */
  .restaurant__section a {
    width: 30%;
  }
  /*  Partie Menu    */
  .menu__partie__restaurant h3 {
    margin: 3rem;
  }
  .menu__restaurant__nom h2 {
    text-align: center;
  }
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__btn {
    height: 10rem;
    width: 45%;
    margin: 1rem 0;
  }
  .menu__description h4 {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__description p {
    font-size: 1.2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__commande {
    padding: 0.3rem;
    height: 4rem;
    width: 30%;
    margin: 10% 35%;
  }
}

@media (min-width: 1248px) {
  /*    Partie Restaurant   */
  .restaurant__section a {
    width: 24%;
  }
  /*  Partie Menu    */
  .menu__btn {
    height: 10rem;
    width: 30%;
    margin: 1rem 0;
  }
  .menu__commande {
    padding: 0.3rem;
    height: 4rem;
    width: 20%;
    margin: 10% 40%;
  }
}

footer {
  background-color: #2b2b2b;
  padding: 1rem;
}

footer h4 {
  padding: 1rem 0 0 1rem;
  margin: 0;
  color: white;
  font-family: "Shrikhand", cursive;
}

footer li, footer a {
  list-style: none;
  color: white;
}

footer ul {
  padding: 0 1rem;
}

.footer__icone {
  margin: 0 0.5rem;
}

@media (min-width: 540px) {
  footer h4 {
    font-size: 1.5rem;
  }
  footer h5 {
    font-size: 1.15rem;
  }
  footer a {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  footer h4 {
    text-align: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer h5 {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */