footer {
    background-color: darken($couleur-clair, 78);
    padding: 1rem;
    & h4 {
        padding: 1rem 0 0 1rem;
        margin: 0;
        color: white;
        font-family: $police_logo_titre;
    }

    & li, a {
        list-style: none;
        color: white;
    }

    & ul {
        padding: 0 1rem;
    }
}

.footer__icone{
    margin: 0 0.5rem;
}

@media (min-width: $big-smartphone) {
    footer {
        & h4 {
            font-size: 1.5rem;
        }

        & h5 {
            font-size: 1.15rem;
        }

        & a {
            font-size: 1.1rem;
        }
    }
}

@media (min-width: $tablette) {
    footer {
        & h4 {
            text-align: center;
        }

        & ul {
            display: flex;
            justify-content: space-around;
        }

        & li {
            align-self: center;
        }

        & h5 {
            margin: 0;
        }
    }
}