.container {
    @include flex_column_center;
    flex-wrap: nowrap;
}

/*  Presentation du site    */

.ville__container {
    @include flex_row_center;
    align-items: center;
    font-size: 0.8rem;
    background-color: darken($couleur-clair, 8);
    box-shadow: $ombrecontainerville;
    color: grey;
}

.icone__localisation {
    margin-right: 1rem;
}

.slider {
    background-color: $couleur-clair;
    padding: 2rem;
    &__container {
        @include flex_column_center;
        text-align: center;
    }
    &__slogan {
        margin-bottom: 2rem;
    }
    &__bouton {
        margin-bottom: 1rem;
    }
}
