@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex_row_center {
    display: flex;
    justify-content: center;
}

@mixin flex_row_space_around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin btn_clair {
    @include flex_row_space_around;
    padding: 0 2.5rem;
    margin: 0.1rem 0.5rem;
    width: 100%;
    border-radius: 30px;
    color: black;
    background: $couleur-clair;
}