@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex_column_start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin flex_column_end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@mixin flex_row_center {
    display: flex;
    justify-content: center;
}

@mixin flex_row_space_around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@mixin flex_row_space_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin btn_clair {
    width: 100%;
    color: black;
    background: $couleur-clair;
}