
/*  Identité graphique création variables   */

/*  Polices */
    /*  Logo et titres  */
$police_logo_titre: 'Shrikhand', cursive;
$police_texte: 'Roboto', sans-serif;


/*  Couleurs de la Charte    */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/*  Autres couleurs */
$couleur-clair: #F2F2F2;
$couleur-bouton: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

/*  Ombres  */
$ombrenoirclair: 0px 4px rgba(0, 0, 0, 0.2);
$ombrecontainerville: inset 0em 0.5em  rgba(0, 0, 0, 0.05);
$ombrecarte: 3px 5px 15px 3px rgba(128, 128, 128, 0.3);

/*  Animations  */
$legeretransition: all 0.4s ease-out;

/*  Responsive Breakpoint  */

$smartphone: 578px;
$tablette: 768px;
$desktop: 1200px;
$big-desktop: 1400px;