.restaurant__carte {
    display: flex;
    width: auto;
    object-fit: cover;
    height: 16rem;
    margin: 0.5rem 0;
    flex-flow: column;
    background-color: white;
    border-radius: 25px;
    box-shadow: $ombrecarte;
    transition: $legeretransition;
    border: none;
    &:hover {
        transform: scale(1.02);
    } 

    &__photo__mention__nouveaute{
        position: absolute;
        margin-top: 1rem;
        right: 2rem;
        background-color: $tertiary-color;
        padding: 0.3rem 1rem;
        font-size: 0.8rem;
        color: darken($tertiary-color, 40);
    }

    &__image {
        width: 100%;
        border-radius: 25px 25px 0 0;
        height: 11rem;
        object-fit: cover;
    }

    &__quatrieme__carte__accueil {
        margin-bottom: 3rem;
    }
}

.restaurant__info {
    & h3, p {
        margin: 0.5rem 0 0rem 0;
    }
}

figcaption {
    background-color: #fff;
    color: black;
    padding: 0 1rem;
    text-align: left;
}

