.favoris {
    display: flex;
    padding-bottom: 1.5rem;
    align-self: center;
    font-size: 1.5rem;
    justify-content: flex-end;
    &__icone {
        position: absolute;
        &__vide {
            position: absolute;
        }

        &__pleine {
            position: absolute;
            opacity: 0;
            color: $primary-color;
            &:hover {
                animation: opacitycoeur 350ms;
                opacity: 1;
            }
        }
    }
}

@keyframes opacitycoeur {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    70% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

