.favoris {
    display: flex;
    padding-bottom: 1.5rem;
    align-self: center;
    font-size: 1.5rem;
    justify-content: flex-end;
    &__icone {
        position: absolute;
        &__vide {
            position: absolute;
        }

        &__pleine {
            position: absolute;
            opacity: 0;
            color: $primary-color;
            &:hover {
                opacity: 1;
            }
        }
    }
}

