.favoris {
    position: absolute;
    &__icone {
        position: absolute;
        &__vide {
            position: absolute;
        }

        &__pleine {
            position: absolute;
        }
    }
}

