.slider__pages {
    margin: 0;

    &__restaurants {
        display: flex;
    border: none;
    width: auto;
    object-fit: cover;
    height: 16rem;
    margin: 0;
    padding: 0;
    flex-flow: column;
    & img {
        height: 100%;
        width: 100%;
        z-index: -1;
        object-fit: cover;
    }
    }
}

@media (min-width: $tablette) {
    .slider__pages__restaurants {
        height: 18rem;
    }
}

@media (min-width: $big-tablette) {
    .slider__pages__restaurants {
        height: 18rem;
    }
}

@media (min-width: $big-desktop) {
    .slider__pages__restaurants {
        height: 42rem;
    }
}
